*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.command.1.tlog
*.idb
*.pdb
*.tlog
*.log
*.vcxproj
*.ilk
*.sdf
*.suo



Debug
*.vcxproj.filters
*.ipch
cpp/microsoftcom/vs-cpp/cpp-type-system-modern-cpp/.vs/cpp-type-system-modern-cpp/v15/Browse.VC.db
