*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.command.1.tlog
*.idb
*.pdb
*.tlog
*.log
*.vcxproj
*.ilk
*.sdf
*.suo



Debug
*.vcxproj.filters
