# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.command.1.tlog
*.idb
*.pdb
*.tlog
cpp/wwwitcastcn/itcastcpp/month01/day01/HelloWorld/HelloWorld/Debug/HelloWorld.log
*.vcxproj
*.ilk
